@media screen and (max-width: 1140px) {

.footercombine{
    display: flex;
    flex-direction: column !important;
    flex-wrap: wrap !important;
}
.bi-check-circle-fill{
    display: none !important;
}
.footicons{
    position: relative;
    left: -230px;
}
}
@media screen and (max-width:577px) {

    .upperfooter{
        display: flex;
        flex-direction: column !important;
        flex-wrap: wrap !important;
    }
    .footicons{
        position: relative;
        left: -150px;
    }
    .input-form{
        width: 250px !important;
    }
}
@media screen and (max-width:768px) {
        #quizescard1{
          position: relative;
          left: -17% !important;
        }
        #quizescard2{
           display: none;
        }
        #clubtext1{
            width: 100%;
            position: relative;
            left: -30% !important;
        }
        #createbtn{
            width: 170% !important;
        }
}
@media screen and (max-width:575px) {
    #quizescard1{
       position: relative;
       left: 3%;
    }
   
    #quizescard2{
        display: none;
    }
    }
    @media screen and (max-width:768px) {
        #createbtn{
            width: 250% !important;
        }
    }
