@media screen and (max-width: 1140px) {

.footercombine{
    display: flex;
    flex-direction: column !important;
    flex-wrap: wrap !important;
}
.bi-check-circle-fill{
    display: none !important;
}
.footicons{
    position: relative;
    left: -230px;
}
}
@media screen and (max-width:577px) {

    .upperfooter{
        display: flex;
        flex-direction: column !important;
        flex-wrap: wrap !important;
    }
    .footicons{
        position: relative;
        left: -150px;
    }
    .input-form{
        width: 250px !important;
    }
}
@media screen and (max-width:768px) {
        #quizescard1{
          position: relative;
          left: -17% !important;
        }
        #quizescard2{
           display: none;
        }
        #clubtext1{
            width: 100%;
            position: relative;
            left: -30% !important;
            
        }
        #createbtn{
            width: 170% !important;
        }
}
@media screen and (max-width:575px) {
    #quizescard1{
       position: relative;
       left: 3%;
    }
   
    #quizescard2{
        display: none;
    }

#secondbookgroup{
    display: none !important;
}
    }
    @media screen and (max-width:552px) {
        #createbtn{
            width: 300% !important;
        }
        #clubtext1{
            width: 100%;
            position: relative;
            left: -25% !important;
            
        }
    }
    @media screen and (max-width:447px) {
      
        #clubtext1{
            width: 100%;
            position: relative;
            left: -35% !important;
            
        }
    }
    @media screen and (max-width:450px) {
      
        #clubdiscussionguide{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            position: relative;
            left: -20px;;
        }
        #shelvebtn{
            margin: 10px;
            width: 150% !important;
        }
    }
    @media screen and (max-width:545px) {
      #page1{
        margin-bottom: 10px;

      }
    #page2{
        margin-left: -4px !important;
    }
    }

    @media screen and (max-width:701px) {
        #booksearch6{
            display: flex;
        }
        #booksearch7{
            display: flex;
        }
        #booksearch8{
            display: flex;
        }
        #booksearch9{
            display: flex;
        }
        #booksearch10{
            display: flex;
        }
        #booksearch11{
            display: flex;
        }
        #booksearch12{
            display: flex;
        }
      }
      @media screen and (max-width:937px) {
      #contactusmap{
        display: flex !important;
        flex-direction: column !important;
        flex-wrap: wrap !important;

      }
      }